{% extends "base.html" %}

{% block app_content %}
{% if current_user.is_anonymous %}
{% else  %}

  
{% endif %}
<head>
<style>

body {
  background-color: #67dfc4;
  background-image: url({{ url_for('static', filename='images/background.jpg') }})
}

h1 {
  color: black;
  text-align: left;
}

p {
  text-align: left;
  color: black;
}

button {
  color: blue;
  float: right;
}
.bg-4 {
  background-color: white;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}

</style>
</head>


<body>


<div class="container">
  <div class="jumbotron" style="background-color:#ffffff;">
    <h1>singleDash</h1>
    <h2> Hello, Demo User {{ current_user.username }}
    </h2>
    
    <p>For Demo Purposes</p>



<div id="QC Demo" style="margin: 0 auto; font-size:17px; text-align: left" class="link_class">
  
  <li><a href="{{ url_for('/dashboard1/') }}">BioDash scRNA-seq Analysis</a></li>
</div>
<img src="https://www.freewebheaders.com/gc-chemistry-1000x250/cache/dna-genetics-biology-golden-chemistry-banner_gc-banner-1000x250_249466.jpg-nggid0513375-ngg0dyn-1920x1080x100-00f0w010c010r110f110r010t010.jpg" alt="Responsive image" width="1000" height="250">
  </div>
</div>

{% endblock %}




</body>
</html> 